[submodule "newlib"]
    path = CLibrary/newlib
    url = https://sourceware.org/git/newlib-cygwin.git

[submodule "limine"]
    path = limine
    url = https://github.com/limine-bootloader/limine.git